PORT=5000
MONGO_URI=mongodb+srv://sakeelnoufash7_db_user:kezZhryc9lKJYC46@cluster0.epnthnn.mongodb.net/?appName=Cluster0
JWT_SECRET=sk_dev_a8f3k29dksLp92mQzR7vXn4Tb6Wy1Ce
CLIENT_URL=http://localhost:5173